{% extends 'bases/menu_base.html' %}

{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% block title %}PMS{% endblock %}
{% block css %}
    <style>
        #Wait, #On-Going, #Finished, #pending { list-style-type: none; margin: 0; float: left; padding: 5px; width: 143px;}
        #Wait div, #On-Going div, #Finished div, #pending div { margin: 5px; padding: 5px; font-size: 1em; width: 120px;}
        .card-body{
            padding: 0px;
            border: thin;
            min-height: 30px;
        }
        .big{
            background-color: #ccf2ff;
        }

        th {
            min-width: 80px;
        }

    .droptrue{
        width:100%;
        max-height:550px;
        overflow: auto;
    }

    #Wait div .card-header, #On-Going div .card-header, #Finished div .card-header, #pending div .card-header {
        width: 97%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    @media (max-width: 768px) {
        #Wait div .card-header, #On-Going div .card-header, #Finished div .card-header, #pending div .card-header {
            {#flex-direction: row;#}
            {#justify-content: space-between;#}
        }
    }
    </style>
{% endblock css %}
{% block js %}

{% endblock js %}
{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">{% trans "home" %}</li>

{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-header" style="background-color: #e0e0e0">
            <div class="row" style="justify-content: space-between">
                <div class="col-4" style="display: flex; align-items: center; gap: 20px">
                    <h3 style="margin: 0; padding: 0;">{% trans "Dashboard" %}</h3>
                    <button type="button" class="btn btn-primary" id="dashboard_filter_btn">{% trans "My Task" %}</button>
                </div>
                <div class="col-8 text-right">
                    <a href="{% url "helpdesk_search" %}" role="button" data-toggle="tooltip" data-placement="bottom" title="{% trans 'knowledge management' %}"><i class="fa fa-book fa-2x pr-2"></i></a>
                    <a href="{% url "request_page" pk %}" role="button" data-toggle="tooltip" data-placement="bottom" title="{% trans 'the detail of projects' %}"><i class="far fa-credit-card fa-2x"></i></a>
                </div>
            </div>
        </div>
        <div class="card-body" style="padding: 5px;background-color: #fcfcfc">
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header big">{% trans "Assigning" %}</div>
                        <div class="card-body" id="body1">
                            <div id="Wait" class="droptrue" data-code="1" style="width:100%;">
                                {% for item in news_feed %}
                                    {% if item.type_name == 'Request' %}
                                        {# Render Request card #}
                                        {% if item.status.status_en == 'Wait' %}
                                            <div class="card" style="width:97%;background-color: #ffffe6;"
                                                 data-position="Wait" data-num="{{ item.request_no }}">
                                                <div class="card-header" style="width:97%">
                                                    <h6 class="card-title"><a
                                                            href="{% url 'request_detail' pk=item.pk %}">{{ item.request_no }}</a>
                                                    </h6>
                                                    <h6 class="card-title {% if item.duration < 1 %}text-danger fw-bold{% endif %}">
                                                        {{ item.due_date|date:"d/m/Y" }}
                                                    </h6>
                                                </div>
                                                <div class="card-body" style="width:97%;">
                                                    <span><span class="badge badge-primary mr-2" style="font-size: 14px">{{ item.plant }}</span>{{ item.title }}</span>
                                                    <span class="align-bottom" style="float:right">
                                                        {% if item.owner.shot %}
                                                            <img src="{{ item.owner.shot.url }}" alt="{{ item.request_no }}" class="rounded-circle"
                                                                 style="height:35px;width:35px;">
                                                        {% else %}
                                                            <img src="{% static 'base/default_shot.png' %}" alt="{{ item.request_no }}"
                                                                 class="rounded-circle" style="height:35px;width:35px;">
                                                        {% endif %}
                                                    </span>
                                                </div>
                                            </div>
                                        {% endif %}

                                    {% elif item.type_name == 'Problem' %}
                                        {# Render Problem card #}
                                        {% if item.problem_status.status_en == 'Wait For Assign' %}
                                            <div class="card" style="width:97%;background-color: #fff0f0;"
                                                 data-position="Wait" data-num="{{ item.problem_no }}">
                                                <div class="card-header" style="width:97%">
                                                    <h6 class="card-title"><a
                                                            href="{% url 'problem_detail' pk=item.pk %}">{{ item.problem_no }}</a>
                                                    </h6>
                                                    <h6 class="card-title {% if item.duration < 1 %}text-danger fw-bold{% endif %}">
                                                        {{ item.due_date|date:"d/m/Y" }}
                                                    </h6>
                                                </div>
                                                <div class="card-body" style="width:97%;">
                                                    <span><span class="badge badge-primary mr-2" style="font-size: 14px">{{ item.plant }}</span>{{ item.title }}</span>
                                                    <span class="align-bottom" style="float:right">
                                                        {% if item.owner.shot %}
                                                            <img src="{{ item.owner.shot.url }}" alt="{{ item.problem_no }}" class="rounded-circle"
                                                                 style="height:35px;width:35px;">
                                                        {% else %}
                                                            <img src="{% static 'base/default_shot.png' %}" alt="{{ item.problem_no }}"
                                                                 class="rounded-circle" style="height:35px;width:35px;">
                                                        {% endif %}
                                                    </span>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header big">{% trans "on_going" %}</div>
                        <div class="card-body">
                            <div id="On-Going" class="droptrue" style="width:100%;" data-code="2">
                                {% for item in news_feed %}
                                    {% if item.type_name == 'Request' %}
                                        {# Render Request card #}
                                        {% if item.status.status_en == 'On-Going' %}
                                            <div class="card" style="width:97%;background-color: #ffffe6;"
                                                 data-position="Wait" data-num="{{ item.request_no }}">
                                                <div class="card-header" style="width:97%">
                                                    <h6 class="card-title"><a
                                                            href="{% url 'request_detail' pk=item.pk %}">{{ item.request_no }}</a>
                                                    </h6>
                                                    <h6 class="card-title {% if item.duration < 1 %}text-danger fw-bold{% endif %}">
                                                        {{ item.due_date|date:"d/m/Y" }}
                                                    </h6>
                                                </div>
                                                <div class="card-body" style="width:97%;">
                                                    <span><span class="badge badge-primary mr-2" style="font-size: 14px">{{ item.plant }}</span>{{ item.title }}</span>
                                                    <span class="align-bottom" style="float:right">
                                                        {% if item.owner.shot %}
                                                            <img src="{{ item.owner.shot.url }}" alt="{{ item.request_no }}" class="rounded-circle"
                                                                 style="height:35px;width:35px;">
                                                        {% else %}
                                                            <img src="{% static 'base/default_shot.png' %}" alt="{{ item.request_no }}"
                                                                 class="rounded-circle" style="height:35px;width:35px;">
                                                        {% endif %}
                                                    </span>
                                                </div>
                                            </div>
                                        {% endif %}

                                    {% elif item.type_name == 'Problem' %}
                                        {# Render Problem card #}
                                        {% if item.problem_status.status_en == 'On-Going' %}
                                            <div class="card" style="width:97%;background-color: #fff0f0;"
                                                 data-position="Wait" data-num="{{ item.problem_no }}">
                                                <div class="card-header" style="width:97%">
                                                    <h6 class="card-title"><a
                                                            href="{% url 'problem_detail' pk=item.pk %}">{{ item.problem_no }}</a>
                                                    </h6>
                                                    <h6 class="card-title {% if item.duration < 1 %}text-danger fw-bold{% endif %}">
                                                        {{ item.due_date|date:"d/m/Y" }}
                                                    </h6>
                                                </div>
                                                <div class="card-body" style="width:97%;">
                                                    <span><span class="badge badge-primary mr-2" style="font-size: 14px">{{ item.plant }}</span>{{ item.title }}</span>
                                                    <span class="align-bottom" style="float:right">
                                                        {% if item.owner.shot %}
                                                            <img src="{{ item.owner.shot.url }}" alt="{{ item.problem_no }}" class="rounded-circle"
                                                                 style="height:35px;width:35px;">
                                                        {% else %}
                                                            <img src="{% static 'base/default_shot.png' %}" alt="{{ item.problem_no }}"
                                                                 class="rounded-circle" style="height:35px;width:35px;">
                                                        {% endif %}
                                                    </span>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header big">{% trans "finished" %}</div>
                        <div class="card-body">
                            <div id="Finished" class="droptrue" style="width:100%;" data-code="4">
                                {% for item in news_feed %}
                                    {% if item.type_name == 'Request' %}
                                        {# Render Request card #}
                                        {% if item.status.status_en == 'Done' %}
                                            <div class="card" style="width:97%;background-color: #ffffe6;"
                                                 data-position="Wait" data-num="{{ item.request_no }}">
                                                <div class="card-header" style="width:97%">
                                                    <h6 class="card-title"><a
                                                            href="{% url 'request_detail' pk=item.pk %}">{{ item.request_no }}</a>
                                                    </h6>
                                                </div>
                                                <div class="card-body" style="width:97%;">
                                                    <span><span class="badge badge-primary mr-2" style="font-size: 14px">{{ item.plant }}</span>{{ item.title }}</span>
                                                    <span class="align-bottom" style="float:right">
                                                        {% if item.owner.shot %}
                                                            <img src="{{ item.owner.shot.url }}" alt="{{ item.request_no }}" class="rounded-circle"
                                                                 style="height:35px;width:35px;">
                                                        {% else %}
                                                            <img src="{% static 'base/default_shot.png' %}" alt="{{ item.request_no }}"
                                                                 class="rounded-circle" style="height:35px;width:35px;">
                                                        {% endif %}
                                                    </span>
                                                </div>
                                            </div>
                                        {% endif %}

                                    {% elif item.type_name == 'Problem' %}
                                        {# Render Problem card #}
                                        {% if item.problem_status.status_en == 'Done' %}
                                            <div class="card" style="width:97%;background-color: #fff0f0;"
                                                 data-position="Wait" data-num="{{ item.problem_no }}">
                                                <div class="card-header" style="width:97%">
                                                    <h6 class="card-title"><a
                                                            href="{% url 'problem_detail' pk=item.pk %}">{{ item.problem_no }}</a>
                                                    </h6>
                                                </div>
                                                <div class="card-body" style="width:97%;">
                                                    <span><span class="badge badge-primary mr-2" style="font-size: 14px">{{ item.plant }}</span>{{ item.title }}</span>
                                                    <span class="align-bottom" style="float:right">
                                                        {% if item.owner.shot %}
                                                            <img src="{{ item.owner.shot.url }}" alt="{{ item.problem_no }}" class="rounded-circle"
                                                                 style="height:35px;width:35px;">
                                                        {% else %}
                                                            <img src="{% static 'base/default_shot.png' %}" alt="{{ item.problem_no }}"
                                                                 class="rounded-circle" style="height:35px;width:35px;">
                                                        {% endif %}
                                                    </span>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header big">{% trans "pending" %}</div>
                        <div class="card-body">
                            <div id="pending" class="droptrue" style="width:100%;" data-code="5">
                                {% for item in news_feed %}
                                    {% if item.type_name == 'Request' %}
                                        {# Render Request card #}
                                        {% if item.status.status_en == 'Pending' %}
                                            <div class="card" style="width:97%;background-color: #ffffe6;"
                                                 data-position="Wait" data-num="{{ item.request_no }}">
                                                <div class="card-header" style="width:97%">
                                                    <h6 class="card-title"><a
                                                            href="{% url 'request_detail' pk=item.pk %}">{{ item.request_no }}</a>
                                                    </h6>
                                                </div>
                                                <div class="card-body" style="width:97%;">
                                                    <span><span class="badge badge-primary mr-2" style="font-size: 14px">{{ item.plant }}</span>{{ item.title }}</span>
                                                    <span class="align-bottom" style="float:right">
                                                        {% if item.owner.shot %}
                                                            <img src="{{ item.owner.shot.url }}" alt="{{ item.request_no }}" class="rounded-circle"
                                                                 style="height:35px;width:35px;">
                                                        {% else %}
                                                            <img src="{% static 'base/default_shot.png' %}" alt="{{ item.request_no }}"
                                                                 class="rounded-circle" style="height:35px;width:35px;">
                                                        {% endif %}
                                                    </span>
                                                </div>
                                            </div>
                                        {% endif %}

                                    {% elif item.type_name == 'Problem' %}
                                        {# Render Problem card #}
                                        {% if item.problem_status.status_en == 'Pending' %}
                                            <div class="card" style="width:97%;background-color: #fff0f0;"
                                                 data-position="Wait" data-num="{{ item.problem_no }}">
                                                <div class="card-header" style="width:97%">
                                                    <h6 class="card-title"><a
                                                            href="{% url 'problem_detail' pk=item.pk %}">{{ item.problem_no }}</a>
                                                    </h6>
                                                </div>
                                                <div class="card-body" style="width:97%;">
                                                    <span><span class="badge badge-primary mr-2" style="font-size: 14px">{{ item.plant }}</span>{{ item.title }}</span>
                                                    <span class="align-bottom" style="float:right">
                                                        {% if item.owner.shot %}
                                                            <img src="{{ item.owner.shot.url }}" alt="{{ item.problem_no }}" class="rounded-circle"
                                                                 style="height:35px;width:35px;">
                                                        {% else %}
                                                            <img src="{% static 'base/default_shot.png' %}" alt="{{ item.problem_no }}"
                                                                 class="rounded-circle" style="height:35px;width:35px;">
                                                        {% endif %}
                                                    </span>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <br style="clear:both">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" style="background-color: #e0e0e0">
            {% trans "Project" %}
        </div>
        <div class="card-body">
            <table class="table table-striped table-hover" id="table1">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            {% trans "project_name" %}
                        </th>
                        <th>
                            {% trans "project_code" %}
                        </th>
                        <th>
                            {% trans "project_desc" %}
                        </th>
                        <th>
                            {% trans "create_by" %}
                        </th>
                        <th>
                            {% trans "create_at" %}
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in projects %}
                    <tr>
                        <td>
                            {{ forloop.counter }}
                        </td>
                        <td>
                            <a href="{% url 'project_manage' project.pk %}">{{ project.name }}</a>
                        </td>
                        <td>
                            {{ project.short_name }}
                        </td>
                        <td>
                            {{ project.desc|striptags }}
                        </td>
                        <td>
                            {{ project.create_by }}
                        </td>
                        <td>
                            {{ project.create_at }}
                        </td>
                        <td>
                            <a href="{% url "project_create" %}" role="button"><i class="fa fa-plus fa-3"></i></a>
                            <a href="{% url "project_edit" project.pk %}" role="button"><i class="fa fa-edit fa-3"></i></a>
                            {% if project.create_by == user %}
                            <a href="{% url 'project_delete' project.pk %}" role="button" onclick="return confirm('Are you sure?')"><i class="fa fa-times fa-3"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
    <div class="card">
        <div class="card-header" style="background-color: #e0e0e0">
            {% trans "Request" %}
        </div>
        <div class="card-body">
            <table class="table table-striped table-hover" id="table1">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            {% trans "belong_project" %}
                        </th>
                        <th>
                            {% trans "title" %}
                        </th>
                        <th>
                            {% trans "status" %}
                        </th>
                        <th>
                            {% trans "desc" %}
                        </th>
                        <th>
                            {% trans "owner" %}
                        </th>
                        <th>
                            {% trans "create_by" %}
                        </th>
                        <th>
                            {% trans "create_at" %}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for request in requests %}
                    <tr>
                        <td>
                            <a href="{% url 'request_detail' request.pk %}">{{ request.request_no }}</a>
                        </td>
                        <td>
                            {{ request.project.short_name }}
                        </td>
                        <td>
                            {{ request.title }}
                        </td>
                        <td style="min-width: 105px">
                            {{ request.status }}
                        </td>
                        <td>
                            {{ request.level }}
                        </td>
                        <td style="min-width: 153px">
                            {{ request.owner }}
                        </td>
                        <td>
                            {{ request.create_by }}
                        </td>
                        <td>
                            {{ request.create_at }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card">
        <div class="card-header" style="background-color: #e0e0e0">
            {% trans "Problem" %}
        </div>
        <div class="card-body">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            {% trans "belong_project" %}
                        </th>
                        <th>
                            {% trans "title" %}
                        </th>
                        <th style="min-width: 93px">
                            {% trans "replies" %}
                        </th>
                        <th>
                            {% trans "create_by" %}
                        </th>
                        <th>
                            {% trans "create_at" %}
                        </th>
                        <th style="min-width: 150px">
                            {% trans "update_by" %}
                        </th>
                        <th>
                            {% trans "update_at" %}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for problem in problems %}
                    <tr>
                        <td>
                            <a href="{% url 'problem_detail' problem.pk %}">{{ problem.problem_no }}</a>
                        </td>
                        <td>
                            {{ problem.project.short_name }}
                        </td>
                        <td>
                            {{ problem.title }}
                        </td>
                        <td>
                            -
                        </td>
                        <td>
                            {{ problem.create_by }}
                        </td>
                        <td>
                            {{ problem.create_at }}
                        </td>
                        <td>
                            {{ problem.update_by }}
                        </td>
                        <td>
                            {{ problem.update_at }}
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>

            </table>
        </div>
    </div>
    <script>
        const dashboard_filter_btn = document.getElementById('dashboard_filter_btn');
        let urlParams = new URLSearchParams(window.location.search);

        // Set initial button text
        const allText = "{{ _('All') }}";
        const myTaskText = "{{ _('My Task') }}";
        const myTaskTextLower = "{{ _('my task') }}";
        dashboard_filter_btn.textContent = urlParams.has('filter') ? allText : "{{ _('My Task') }}";

        dashboard_filter_btn.addEventListener('click', () => {
            // Create new params object to avoid mutation issues
            const newParams = new URLSearchParams(window.location.search);

            if (dashboard_filter_btn.textContent === myTaskText) {
                newParams.set('filter', 'true');
                dashboard_filter_btn.textContent = allText;
            } else {
                newParams.delete('filter');
                dashboard_filter_btn.textContent = myTaskText;
            }

            // Update the URL
            window.location.search = newParams.toString();
        });
    </script>
{% endblock %}








