{% extends 'bases/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}
{% block title %}
AMS - {{ asset.label_no }} Asset Detail
{% endblock %}
{% block breadcrumb %}

{% endblock %}
{% block js %}
<script>
    var validation = function() {
        if(confirm("請問是否已經有通知相關人員會進行刪除？")) {
            if(confirm("請問是否已經有通知主管會進行刪除？")) {
                if(confirm("最後提醒，刪除資料前是否有備份資產資料？")) {
                    return true;
                } else {
                    return false;
                }
            } else {
                return false;
            }
        } else {
            return false;
        }
    }
</script>
{% endblock js %}
{% block container %}
<div class="card-header">
    <div class="row">
        <div class="col">
            <a href="{% url 'assets_main' %}" class="btn btn-warning"><i class="fas fa-home fa-1x"></i></a>
        </div>
        {% if user.is_authenticated %}
        <div class="ml-md-auto">
            <a class="btn btn-info" href="{% url 'logout' %}" role="button"><i class="fas fa-sign-out-alt"></i>{% trans "logout" %} ({{ user.username }})</a>
        </div>
        {% endif %}
    </div>
</div>
<div class="row p-3">
    <div class="col text-center">
        ※本功能會將選擇的類別資產資料全部清除，資料有編碼表、履歷、主檔資料。
    </div>
</div>
<div class="row p-3">
    <div class="col-4"></div>
    <div class="col-4 text-center">
        <form action="" method="POST">
            {% csrf_token %}
            {% crispy form %}
            <input type="submit" value="刪除資料" class='btn btn-danger mt-3' onclick="return validation()" />
        </form>
    </div>
    <div class="col-4"></div>
</div>

{% endblock %}