{% extends 'stock/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% block js %}
<script>
function cancel() {
    $("#post_form").submit();
}
</script>
{% endblock js %}
{% block content %}
<form id="post_form" action="{% url 'location_setting' %}" method="post">
{% csrf_token %}
</form>
<div class="pt-3">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <form id="post_form" action="{% url 'storage_edit' %}" method="post">
                {% csrf_token %}
                {% crispy form %}
                <div style="text-align: center" class="p-3">
                    <input type="submit" value="儲存" class='btn btn-info' />
                    <input type="hidden" value="edit" name="action" />
                    <input type="hidden" value="{{ pk }}" name="pk" />
                    <input type="button" class="btn btn-info" value="取消" onClick="cancel();">
                </div>
            </form>
        </div>
        <div class="col-1"></div>
    </div>
</div>
{% endblock %}