{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Condition</title>
    <link rel="stylesheet" href="{% static 'jquery-ui\jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-4.1.3\css\bootstrap.min.css' %}">
    <script src="{% static 'base\js\umd\popper.js' %}"></script>
    <script src="{% static 'jquery\jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'jquery-ui\jquery-ui.min.js' %}"></script>
    <script src="{% static 'bootstrap-4.1.3\js\bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'fontawesome-5.4.2\css\all.css' %}">
    <script>
        function open_window(url) {
            window.open(url, "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=400,height=400");
        }

        //可在Javascript中使用如同C#中的string.format
        //使用方式 : var fullName = String.format('Hello. My name is {0} {1}.', 'FirstName', 'LastName');
        String.format = function ()
        {
            var s = arguments[0];
            if (s == null) return "";
            for (var i = 0; i < arguments.length - 1; i++)
            {
                var reg = getStringFormatPlaceHolderRegEx(i);
                s = s.replace(reg, (arguments[i + 1] == null ? "" : arguments[i + 1]));
            }
            return cleanStringFormatResult(s);
        }
        //可在Javascript中使用如同C#中的string.format (對jQuery String的擴充方法)
        //使用方式 : var fullName = 'Hello. My name is {0} {1}.'.format('FirstName', 'LastName');
        String.prototype.format = function ()
        {
            var txt = this.toString();
            for (var i = 0; i < arguments.length; i++)
            {
                var exp = getStringFormatPlaceHolderRegEx(i);
                txt = txt.replace(exp, (arguments[i] == null ? "" : arguments[i]));
            }
            return cleanStringFormatResult(txt);
        }
        //讓輸入的字串可以包含{}
        function getStringFormatPlaceHolderRegEx(placeHolderIndex)
        {
            return new RegExp('({)?\\{' + placeHolderIndex + '\\}(?!})', 'gm')
        }
        //當format格式有多餘的position時，就不會將多餘的position輸出
        //ex:
        // var fullName = 'Hello. My name is {0} {1} {2}.'.format('firstName', 'lastName');
        // 輸出的 fullName 為 'firstName lastName', 而不會是 'firstName lastName {2}'
        function cleanStringFormatResult(txt)
        {
            if (txt == null) return "";
            return txt.replace(getStringFormatPlaceHolderRegEx("\\d+"), "");
        }


        changeSelect = function(category_id, asset_type)
        {
            $.get('/inventory/typeapi/'+category_id, function (data){
                $.each(data, function(index, item){
                    asset_type.append('<option value="' + item.id + '">' + item.type_name + '</option>')
                })
            })
        }

        var list = [];

        //新增品項
        cart_add = function(category, item_code, spec, unit, pic) {
            window.opener.cart_add(category, item_code, spec, unit, pic);
        }

        //新增雜項
        cart_misc_add = function(category, item_code, unit) {
            spec = $("#spec").val();
            window.opener.cart_misc_add(category, item_code, unit, spec);
        }

        
        //Ready
        $(function (){
            category = $('#id_category');
            item_type = $('#id_type');

            changeSelect(0, item_type);

            category.change(function() {
                $("#button-id-search").click();
                item_type.empty().append('<option value="">---------</option>');
                changeSelect(this.value, item_type)
            })

            item_type.change(function() {
                $("#button-id-search").click();
            })

            //物品清單
            $("#button-id-search").click(function() {
                var tmp_table = "<table class=\"table\"><tr><th width='70%'>品名&規格</th><th width='20%'>單位</th><th width='10%'></th></tr>{0}</table>";
                var tmp_item = "<tr><td><a href=\"#\" onclick=\"open_window('/media/{0}')\">{1}</a></td><td>{2}</td><td>{3}</td></tr>";
                var tmp_manual = "<tr><td>{1}</td><td>{2}</td><td>{3}</td></tr>";
                var tmp_btn = "<button type='button' class='btn btn-info' onclick=\"cart_add('{0}', '{1}', '{2}', '{3}', '{4}', '{5}')\">加入</button>";
                var temp="";
                var items="";
                var add_btn="";
                category_id = $("#id_category").val();
                type_id = $("#id_type").val();
                keyword = $("#id_keyword").val();
                $("#search_result").html(""); //初始化

                if(category_id==""){
                    alert("必須選擇物品類別");
                    return false;
                }

                $.ajax({
                    url: '{% url 'catogory_itemapi' %}', type: 'post',
                    dataType: 'json',
                    data: {"csrfmiddlewaretoken": "{{ csrf_token }}", "category_id": category_id, "type_id": type_id, "keyword": keyword},
                    success: function(data) {
                        //取得種類清單
                        $("#search_result").html();
                        $.each(data, function(index, item){
                            if(item.spec=="自行輸入"){
                                txtSpec = "<input type=\"text\" name=\"spec\" id=\"spec\" style=\"width:100%;\">";
                                tmp_btn = "<button type='button' class='btn btn-warn' onclick=\"cart_misc_add('{0}', '{1}', '{2}')\">加入</button>";
                                add_btn = String.format(tmp_btn, item.category, item.item_code, item.unit);
                                temp = String.format(tmp_manual, item.pic, txtSpec, item.unit, add_btn);
                                items = items + temp;
                            }else{
                                add_btn = String.format(tmp_btn, item.category, item.item_code, item.spec, item.unit, item.pic);
                                temp = String.format(tmp_item, item.pic, item.spec, item.unit, add_btn);
                                items = items + temp;
                            }
                        })
                        $("#search_result").append(String.format(tmp_table, items));
                    }
                });

            })

            $("#id_keyword").on('keypress', function(e) {
                if(e.which==13) {
                    $("#button-id-search").click();
                }
                return false;
            })
        })
</script>
</head>
<body>
<div class="p-3">
    {% crispy search_form %}
    <div id="search_result"></div>
</div>
</body>
</html>