{% extends 'bases/menu_base.html' %}
{% load i18n %}
{% block title %}
    {% if form.instance.id %}
        {% trans "bug_edit" %}
    {% else %}
        {% trans "bug_create" %}
    {% endif %}
{% endblock %}
{% block breadcrumb %}
    {{ block.super }}
    <li class="breadcrumb-item"><a href="{% url 'bug_page' pk=p %}">{{ bug.project.name }}</a></li>
    {% if form.instance.id %}
    <li class="breadcrumb-item"><a href="{% url 'bug_detail' pk=bug.pk %}">{{ bug.title }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% trans "bug_edit" %}</li>
    {% else %}
    <li class="breadcrumb-item active" aria-current="page">{% trans "bug_create" %}</li>
    {% endif %}
{% endblock %}
{% block content %}

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
      <div class="card">
          <div class="card-header">
          {% if form.instance.id %}
            {% trans "bug_edit" %}
          {% else %}
            {% trans "bug_create" %}
          {% endif %}
          {% include "bases/attach_form.html" %}
          </div>
      </div>
  </div>
  <div class="col-md-1"></div>
</div>


{% endblock content %}

{% block js %}

{% endblock js %}

{% block css %}
<style>
.django-ckeditor-widget {
width: 100%;
}
</style>
{% endblock %}